@media ( max-width: 1200px )//descktop-small
  .container
    max-width: 1140px
    margin: auto
    width: 90%
  .general
    &-wrapper
      background-position: center
  .advantages
    &-wrapper
      display: flex
      margin-bottom: 79px
    &__image
      &-1
        //width: 100%
        //height: 100%
      &-2,&-3
        max-width: 320px
        max-height: 230px
        width: 100%
        height: 100%
    &__text
      padding: 0
      width: 350px
      margin-left: 20px
    &__description
      margin-bottom: 15px

  .trend
    &-flex
      //height: 1350px
  .history
    &__text
      margin-right: 10px
  .newsletter
    &__block
      padding: 0
      margin: auto
      width: 90%
  .footer
    &-wrapper
      padding-left: 0
      margin-left: auto
      margin-right: auto
      width: 95%
      justify-content: space-between
    &__block
      margin-right: 10px
@media ( max-width: 992px )
  .container
    &-reviews
      max-width: 800px
      width: 90%
    &-history
      flex-wrap: wrap
      margin-top: 150px
    &-newsletter
      max-height: 402px
      //max-width: 768px
      width: 100%
      height: 100%
  .general
    &-wrapper
      margin-bottom: 80px
      background-position: 65%
    &-text
      padding-left: 40px
  .text
    &__cool_block
      display: block
      flex-basis: 100%
  .header
    &__list
      width: 500px
      margin-right: 15px
  .advantages
    &-wrapper
      display: block
    &__block
      width: 280px
      height: 400px
      &_link
        flex-basis: 100%
    &_right
      width: 300px
      height: 200px
      margin-bottom: 30px
    &__image
      margin: auto
      margin-top: 80px
      margin-bottom: 40px
    &__text
      width: 100%
      text-align: center
      justify-content: center
    &__title
      margin-bottom: 24px
      margin-left: 0
    &__description
      margin-bottom: 24px
      width: 100%
      max-width: 650px
  .trend
    &-flex
      //max-height: 1908px
  .card
    margin-bottom: 48px
  .history
    &__text
      justify-content: center
      text-align: center
      width: 100%
    &__title
      //font-weight: bold
      //font-size: 28px
      ////line-height: 36px
      text-align: center
      //letter-spacing: 0.2px
    &__description
      width: 568px
      margin-bottom: 128px
      //font-size: 16px
      //line-height: 28px
      text-align: center
    &__button
      left: 50%
      //top: 30%
      bottom: 13%
      //transform: translate(-50%,50%)
      &_prev
        transform: translateX(-65px)
      &_next
        transform: translateX(15px)
  .newsletter
    &__block
      flex-wrap: wrap
      justify-content: center
      //min-height: 300px
      height: auto
    &__text
      text-align: center
      flex-basis: 100%
      //margin-bottom: 30px
    &__description
      width: 100%
      max-width: 436px
      text-align: center
      margin: auto
    &__send
      margin-bottom: 30px
  .footer
    &-wrapper
      flex-wrap: wrap
      justify-content: flex-end
    &__block
      flex-basis: 25%
      margin-bottom: 48px

@media ( max-width: 768px )//ipad
  .container
    max-width: 650px
    margin: auto
    width: 90%
    &-reviews
      max-width: 630px
      width: 90%
    &-advantages
      max-width: 670px
    &-trend
      width: 98%
  .navbar
    &-menu
      visibility: hidden
      //display: none
      position: fixed
      max-width: 304px
      max-height: 322px
      right: 5%
      bottom: 0
      top: 24px
      padding-top: 30px
      margin: 0
      background-color: #fff
      width: 90%
      max-height: 324px
      flex-direction: column
      justify-content: space-between
      align-items: flex-start
      overflow: scroll
      height: auto
      padding: 36px 24px
      box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
      &_hidden
        visibility: hidden
        //display: none
      &_active
        visibility: visible
        //display: flex
      &__button
        width: 100%
      &__close
        cursor: pointer
        display: block
        position: absolute
        right: 16px
        top: 12px
        z-index: 2

  .header
    background-color: #fff
    position: fixed
    left: 0
    right: 0
    top: 0
    height: 64px
    margin-bottom: 30px
    z-index: 100
    &-wrapper
      padding: 18px 0
      margin-top: 8px
    &__link
    &__mobile-menu
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      background-color: #fff
      padding: 0
      height: 18px
      width: 24px
    &__line
      border: 1px solid #3A4C66
      width: 24px
      height: 1px
      border-radius: 2px
  .general
    &-wrapper
      background-position: 58% 52%
      height: 628px
      margin-top: 102px
      margin-bottom: 80px
    &__button
      margin-bottom: 40px
  .text
    padding: 40px 28px
    width: 500px
    &__title
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      width: 365px
      margin-bottom: 24px
      margin-top: 24px
    &__description
      font-size: 18px
      line-height: 32px
      width: 400px
      margin-bottom: 37px

    &__addition
      width: 444px
  .advantages
    &-wrapper
      height: auto
    &__image
      height: 490px
      grid-gap: 14px
      &-1
        width: 100%
        height: 100%
      &-2, &-3
        max-width: 320px
        max-height: 230px
        width: 100%
        height: 100%
      &-3
        align-self: flex-end
    &__text
      margin-left: 0
      text-align: left
      justify-content: flex-start
    &__description
      max-width: 650px
      width: 100%
  .trend
    &-wrapper
      margin-bottom: 30px
    &-top
      flex-wrap: wrap
      text-align: center
      justify-content: center
      margin-bottom: 0
    &__title
      flex-basis: 100%
      margin-bottom: 28px
    &-menu
      text-align: center
      margin-bottom: 56px
  .card
    max-width: 280px
    width: 100%
    &__image
      &_block
        max-width: 280px
        width: 100%
  .reviews
    &__text
      max-height: 210px
      height: 100%
      line-height: 42px
    &__author
      margin-bottom: 50px
  .newsletter
    margin: 0
    &__block
      min-height: 402px
      height: 100%
    &__text
      margin-top: 30px
    &__send
      margin-bottom: 50px
  .footer
    &-wrapper
      margin-top: 60px
      width: 95%
      justify-content: flex-end
    &__block
      flex-basis: 27%
      margin-bottom: 25px
      &-1
        min-width: 253px
        margin-right: 10px
        flex-basis: 37%
    &__description
      margin-bottom: 25px
        //width: 100%
  // .footer
  //   &-wrapper
  //     justify-content: flex-start
  //     margin-top: 50px
  //     width: 80%
  //   &__block
  //     flex-basis: 100%
  //     margin-bottom: 15px
  //     &-1
  //       order: 2
  //       text-align: center
  //       width: 100%
  //       display: flex
  //       flex-direction: column
  //       align-items: center
  //       margin-top: 35px
  //   &__title
  //     font-weight: bold
  //     font-size: 16px
  //     line-height: 22px
  //     margin-bottom: 20px
  //   &__item
  //     margin-bottom: 15px
  //   &__link
  //     font-weight: normal
  //     font-size: 14px
  //     line-height: 20px
  //   &__description
  //     font-weight: normal
  //     font-size: 14px
  //     line-height: 20px
  //     margin-top: 15px
  .modal
    &__dialog
      width: 90%
@media ( max-width: 647px )
  .footer
    &-wrapper
      margin-top: 60px
      width: 95%
      justify-content: flex-start
    &__block
      flex-basis: 40%
      margin-bottom: 25px
      &-1
        min-width: 253px
        margin-right: 10px
        width: 100%
        order: 2
        order: 2
        text-align: center
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 35px
        flex-basis: 100%
@media ( max-width: 576px )//iphon
  .container
    min-width: 272px
    margin: auto
    width: 80%
    height: 64px
    margin-bottom: 24px
    &-rewiews
      min-width: 280px
      width: 95%
    &-history
      margin-top: 100px
      margin-bottom: 45px
    &-trend
      width: 95%
      height: auto
      margin-bottom: 0
    &-advantages
      height: auto
      min-width: 290px
    &-newsletter
      min-height: 414px
      width: 100%
  .navbar
    &-menu
      &__button
        width: 100%
  .header
    &-wrapper
      max-height: 64px
  .general
    &-wrapper
      width: 100%
      background-image: url('../img/mobile-women.png')
      background-position: 55% 52%
      background-size: auto
      border-radius: 0
      height: auto
      margin-top: 88px
      margin-bottom: 64px
      &-thank
        background-position: 50% 35% !important
    &__button
      margin-bottom: 22px
      font-size: 16px
      line-height: 22px
      text-align: center
    &__icon
      width: 19px
      height: 19px
  .text
    padding: 385px 20px 24px
    width: 100%
    justify-content: center
    &-thank
      padding-top: 250px !important
    &__cool
      text-align: center
      margin: 0
      padding: 2px 26px
      max-width: 196px
      &_block
        text-align: center
    &__title
      font-size: 32px
      line-height: 40px
      text-align: center
      letter-spacing: 0.2px
      margin: 20px 0

    &__description
      margin-top: 0
      margin-bottom: 24px
      font-size: 16px
      line-height: 28px
      text-align: center
    &__addition
      flex-wrap: wrap
      align-items: baseline
      justify-content: space-evenly
      height: 64px
  .advantages
    &-wrapper
      margin-bottom: 59px
    &__image
      grid-gap: 14px
      max-width: 290px
      height: 411px
      width: 100%
      margin-bottom: 30px
      &-1
        grid-column: span 2
        grid-row: span 2
        width: 100%
        height: 100%
      &-2, &-3
        width: 138px
        height: 97px
      &-3
        align-self: flex-start
    &__text
      text-align: center
      margin-left: 0

    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      text-align: center
      margin: auto
      margin-bottom: 20px
    &__description
      font-size: 16px
      line-height: 28px
      width: 95%
    &__link
      //display: none
  .trend
    &-wrapper
      margin-bottom: 0
    &-menu
      justify-content: space-evenly
      margin-bottom: 30px
    &__title
      font-weight: bold
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
    &__description
      font-size: 16px
      line-height: 28px
    &__item
      font-size: 16px
      line-height: 22px
    &-flex
      //height: 800px
    &__link
      margin: 0

  .card
    max-width: 140px
    max-height: 234px
    width: 100%
    height: 100%
    margin-bottom: 20px
    &__image
      &_block
        max-width: 140px
        max-height: 170px
        width: 100%
        height: 100%
    &-last
      max-width: 140px
      max-height: 170px
      width: 100%
      height: 100%
    &__title
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.2px
      margin-top: 15px
      margin-bottom: 0

      &_last
        font-size: 17px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        margin-bottom: 23px
        margin-top: 87px
        width: 100%
    &__link
      width: 100%
    &__buy
      margin-left: 0
      justify-content: start
    &__price
      font-weight: normal
      font-size: 14px
      line-height: 24px
      margin-right: 9px
      text-align: center
      align-self: center
    &__icon
      width: 14px
      height: 32px
      &_last
        width: 25px
        height: 32px
  .reviews
    &__text
      max-height: 360px
      height: min-content
      min-width: 280px
      font-size: 18px
      line-height: 36px
      text-align: center
      letter-spacing: 0.12px
    &__author
      width: 145px
      text-align: center
      margin: auto
      margin-bottom: 20px
    &__icon
      transform: translate(-50%, 50%) scale(0.9)
  .swiper-slide
    flex-wrap: wrap
    justify-content: center
  .history
    &__button
      //top: 20%
      bottom: 8%
      transform: scale(0.8)
      &_prev
        transform: scale(0.8) translateX(-130%)
      &_next
        transform: scale(0.8) translateX(30%)
    &-slider
      height: auto
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 15px
      flex-basis: 100%
    &__description
      font-size: 16px
      line-height: 28px
      text-align: center
      width: 280px
      margin-bottom: 110px
    &__span
      display: none
    &__card
      width: 280px
      min-height: 407px
      margin-bottom: 20px
      &_first
        margin-right: 0
      &_image
        width: 270px
        height: 277px
      &_text
        bottom: 0
        width: 270px
        height: 150px
      &_title
        font-weight: 500
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.2px
        padding-left: 10
        padding-right: 0
        //padding: 20px 10px 59px 20px
  .newsletter
    &__title
      font-weight: bold
      font-size: 28px
      line-height: 36px
      text-align: center
      letter-spacing: 0.2px
      margin-bottom: 24px
    &__description
      font-size: 16px
      line-height: 28px
      text-align: center
      max-width: 280px
      height: 84px
    &__span
      display: inline

    &__send
      margin-top: 10px
      align-self: flex-start
      text-align: center
      max-width: 280px
      height: 48px
      width: 100%

    &__input
      max-width: 280px
      height: 48px
      width: 100%
      padding: 13px 0 13px 48px
      margin-bottom: 10px
    &__button
      position: relative
      max-width: 280px
      width: 100%
      margin: 0
      border-radius: 8px
    &__icon
      left: 20px
      top: 16px
      bottom: 14px
  #email-error
    top: 110px
    border-bottom: none
    text-align: center
    flex-basis:
    width: 100%
  .footer
    &-wrapper
      justify-content: flex-start
      margin-top: 50px
      width: 80%
    &__block
      flex-basis: 100%
      margin-bottom: 15px
      &-1
        order: 2
        text-align: center
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 35px
        flex-basis: 100%
    &__title
      font-weight: bold
      font-size: 16px
      line-height: 22px
      margin-bottom: 20px
    &__item
      margin-bottom: 15px

    &__link
      font-weight: normal
      font-size: 14px
      line-height: 20px
    &__description
      font-weight: normal
      font-size: 14px
      line-height: 20px
      margin-top: 15px
  .modal
    &__dialog
      padding-left: 30px
      padding-right: 30px
      //padding-top: 50px
      //padding-bottom: 20px
    &__div
      margin-bottom: 25px

@media (hover: hover) and (pointer: fine)
  .button:hover
    //background-color: #bc1838
    box-shadow: 0 0 10px rgba(225,225,225, 0.8)
    transition-duration: 0.4s
  .header
    &__link:hover
      border-bottom: 1px solid $blue-text
      //border-top: 1px dashed $primary
      color: $blue-text
    &__button:hover
      transform: scale(1.1, 1.1)
  .trend
    &__link:hover
      transform: scale(1.2, 1.2)
  .footer__link
    &:hover
      border-bottom: 1px dashed $blue-text
      color: $blue-text
    &_network
      &:hover
        transform: scale(1.2, 1.2)
        border-bottom: none
  .link-top:hover
    border-color: $dark-blue
    background-image: url('../img/icon-dark.svg')
  .general__button:hover, .newsletter__button:hover
    background-color: rgba(24, 59, 86,0.9)
  .card-last:hover
    background-color: rgba(21, 101, 216,0.9)
  .history
    &__button:hover
      background-color: rgba(21, 101, 216,0.1)
    &__card_link:hover
      border-bottom: 1px solid $blue-text
  .advantages__link:hover
    border-bottom: 1px solid $blue-text
  #new:hover
    color: $blue-text
  #best:hover,#soon:hover
    color: $blue-text
